<template>
  <div class="planejamento">
    <h1>Planejamento</h1>

    <!-- Example of Vue using some data -->
    <!--
    <ul v-for="disciplina of disciplinas" :key="disciplina.id_disciplina">
      <li>{{ disciplina.codigo_disciplina }}</li>
    </ul>
    -->

    <!-- Exemplo pegando dados da view professores_completo que está no BD-->
    <!--
    <h1> Professores </h1>
    <ul v-for="professores_completo of professores" :key="professores_completo.id_pessoa">
      <li>Id: {{ professores_completo.id_pessoa }},  Nome: {{ professores_completo.nome }}</li>
      <li></li>
    </ul>
    -->
    <h1> Disciplinas </h1>
    <div class="disciplinas">
      <!-- Example of Vue using some data -->
      <div v-for="disciplina of disciplinas" :key="disciplina.id_disciplina">
         <course :code="disciplina.codigo_disciplina" :codigo_disciplina="disciplina.codigo_disciplina" status="não cursada" />
      </div>
    </div>

  </div>
</template>

<script>
import Course from '@/components/Course.vue';

export default {
  components: {
    Course
  },

  data() {
    return {
      disciplinas: [],
      professores: []
    };
  },

  // Initialize elements in 'data' before rendering page.
  // More info at: https://nuxtjs.org/api/
  async asyncData({ app }) {
    return {
      disciplinas: await app.$axios.$get("/disciplinas"),
      // professores: await app.$axios.$get("/professores_completo")
    }
  },

}
</script>

<style lang="scss">
.planejamento {
}

.disciplinas {
  display: flex;
  align-items: center;
}
</style>
