<template>
  <div class=".cruds__edit">
  		<!-- <form @submit.prevent="addCourse" >  -->
		<label for="codigo">Código</label>
		<!-- <input type="text" id="codigo" name="" placeholder="MAC9666" v-model="course.codigo_disciplina"><br/> -->
		<input type="text" id="codigo" name="" placeholder="MAC0000" v-model="course.codigo_disciplina"><br/>

		<label for="nome">Nome</label>
		<input type="text" id="nome" name="" placeholder="Nome do curso" v-model="course.nome"><br/>


		<label for="creditos_aula">Créditos aula</label>
		<input type="text" id="creditos_aula" name="" placeholder="4" v-model="course.creditos_aula"><br/>


		<label for="creditos_trabalho">Créditos trabalho</label>
		<input type="text" id="creditos_trabalho" name="" placeholder="2" v-model="course.creditos_trabalho"><br/>



		<label for="carga_horaria">Carga horária</label>
		<input type="text" id="carga_horaria" name="" placeholder="Carga horária" v-model="course.carga_horaria"><br/>


		<!-- TODO pegar a data atual para preencher a data de ativação -->
		<label for="ativacao">Data de ativação</label>
		<input type="text" id="ativacao" name="" placeholder="hoje?" v-model="course.ativacao"><br/>


		<label for="desativacao">Data de desativação</label>
		<input type="text" id="desativacao" name="" placeholder="hoje?" v-model="course.desativacao"><br/>


		<label for="ementa">Ementa</label>
		<!-- <input type="text" id="ementa" name="" placeholder="Descrição da ementa" v-model="course.ementa"><br/> -->
		<textarea id="ementa" v-model="course.ementa" placeholder="Descrição da ementa"></textarea><br/>

		<!-- <input type="checkbox" id="checkbox" name="" v-model="checked"> -->
		<!-- <p>A mensagem é: {{ checked }}</p> -->


		<!-- Para preencher as tabelas grade_obrigatoria e grade_optativa -->
		<!-- TODO pegar a data atual para preencher a data de ativação -->
		<label for="ano_grade">Ano grade</label>
		<input type="text" id="ano_grade" placeholder="hoje?" v-model="course.ano_grade"><br/>


		<label for="obrigatoria">Obrigatória</label>
		<input type="checkbox" id="obrigatoria" v-model="course.obrigatoria"><br/>

		<div v-if="!course.obrigatoria">
			<label for="eletiva">Optativa Eletiva</label>
			<input type="checkbox" id="eletiva" v-model="course.eletiva">
		</div>

		<!-- TODO Fazer a inserção de pré-requisitos melhor -->
		<!-- para inserir vários pré-requisitos separe cada um deles por vírgula -->
		<!-- exemplo: 'MAC0101,MAC0110,MAC0460' -->
		<label for="prerequisitos">Pré-requisitos</label>
		<input type="text" id="prerequisitos" name="" placeholder="prerequisitos" v-model="course.prerequisitos_disciplina"><br/>

	    <button type="submit" @click="updateCourse" @submit.prevent>
	    	Salvar
	    </button>
  </div>
</template>

<script>
import axios from 'axios';
// import { mapState } from 'vuex'
import { mapGetters } from 'vuex';

export default {
	computed: {
		now: function () {
	    	return Date.now()
	    },
	    ...mapGetters([
	    	'isAuthenticated',
	    	'getToken',
	    	'getDisciplina_selecionada',
    	])
	},
	data() {
		return {
			course: {
				id_disciplina: '',
				// codigo_disciplina: this.$store.getters.getDisciplina_selecionada, 
				codigo_disciplina: '',
				nome: '',
				creditos_aula: '',
				creditos_trabalho: '',
				ativacao: '',
				desativacao: '',
				ementa: '',
				ano_grade: '',
				obrigatoria: true,
				eletiva: false,
				prerequisitos_disciplina: '',
			},
		}
	},
	created: function () {
		console.log("created function");
		this.course.ementa = 'created function';

	},
	mounted: function () {
	  this.$nextTick(function () {
	    // Code that will run only after the
	    // entire view has been rendered
	    this.course.nome = 'mounted function';
		console.log("disciplina_selecionada: " + this.$store.getters.getDisciplina_selecionada);
		// getDisciplina_selecionada_data();
		this.getDisciplina_selecionada_data();
	  })
	},
	methods: {
		async getDisciplina_selecionada_data() {
			this.course.ementa = 'bla yes';

			this.$axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.state.token}`;
			

		    var dados_disciplina = await this.$axios.$post("/rpc/recupera_disciplina", {
				_codigo_disciplina: this.$store.getters.getDisciplina_selecionada
		    });
		    console.log("recuperado");
		    console.log(dados_disciplina);

		    console.log("nome");
		    console.log(dados_disciplina[0].nome_disciplina);
		    this.course.id_disciplina = dados_disciplina[0].id;
		    this.course.codigo_disciplina = dados_disciplina[0].codigo;
		    this.course.nome = dados_disciplina[0].nome_disciplina;
		    this.course.creditos_aula = dados_disciplina[0].creditos_aula_disciplina;
		    this.course.creditos_trabalho = dados_disciplina[0].creditos_trabalho_disciplina;
		    this.course.carga_horaria = dados_disciplina[0].carga_horaria_disciplina;
		    this.course.ativacao = dados_disciplina[0].ativacao_disciplina;
		    this.course.desativacao = dados_disciplina[0].desativacao_disciplina;
		    this.course.ementa = dados_disciplina[0].ementa_disciplina;
		    // this.course.ano_grade = dados_disciplina[0].ano_grade_disciplina;
		    // this.obrigatoria = dados_disciplina[0].obrigatoria_
		    // this.optativa

		    console.log("id: " + this.course.id_disciplina);


		    var dados_grade_disciplina = await this.$axios.$post("/rpc/grade_disciplina", {
				_codigo_disciplina: this.$store.getters.getDisciplina_selecionada

		    });

		    console.log("dados_grade_disciplina: ");
		    console.log(dados_grade_disciplina);

	    	var arrayLength = dados_grade_disciplina.length;
	    	if (arrayLength > 0) {
	    		console.log("ano_grade: " + dados_grade_disciplina[0].ano_grade);
	    		this.course.ano_grade = dados_grade_disciplina[0].ano_grade;
	    		// console.log("eh_obrigatoria: " + dados_grade_disciplina[0].eh_obrigatoria);
	    		// this.course.eletiva = dados_grade_disciplina[0].eh_obrigatoria;
	    		console.log("eh_eletiva: " + dados_grade_disciplina[0].eh_eletiva);
	    		this.course.eletiva = dados_grade_disciplina[0].eh_eletiva;
	    	}




		    var prerequisitos_disciplina = await this.$axios.$post("/rpc/prerequisitos_disciplina", {
				_codigo_disciplina: this.$store.getters.getDisciplina_selecionada
		    });
		    console.log("pré-requisitos recuperado");
		    console.log(prerequisitos_disciplina);


	    	var arrayLength = prerequisitos_disciplina.length;
			for (var i = 0; i < arrayLength; i++) {
			    // alert(myStringArray[i]);
			    //Do something
			    this.course.prerequisitos_disciplina += prerequisitos_disciplina[i].codigo + ',';
			    console.log(prerequisitos_disciplina[i].codigo);
			}



			console.log("disciplina recuperada com sucesso");
		},
		async updateCourse() {
			console.log("adicionando disciplina");
			console.log("código: " + this.course.codigo_disciplina);
			console.log("nome: " + this.course.nome);
			console.log("creditos aula: " + this.course.creditos_aula);
			console.log("créditos trabalho: " + this.course.creditos_trabalho);
			console.log("ativação: " + this.course.ativacao);
			console.log("ementa: " + this.course.ementa);
			console.log("ano_grade: " + this.course.ano_grade);
			console.log("obrigatoria: " + this.course.obrigatoria);
			if (this.course.obrigatoria) {
				this.course.eletiva = false;
			}
			console.log("eletiva: " + this.course.eletiva);

			console.log(`disciplina selecionada state ${this.$store.state.disciplina_selecionada}`);

			// console.log(`Strore state ${this.$store.state.token}`);
			// const token = this.$store.getters.getToken;
			this.$axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.state.token}`;
			if (this.course.desativacao != '') {
			    await this.$axios.$post("/rpc/atualiza_disciplina", {
					_id_disciplina: this.course.id_disciplina,
					_codigo_disciplina: this.course.codigo_disciplina,
					_creditos_aula: this.course.creditos_aula,
					_creditos_trabalho: this.course.creditos_trabalho,
					_carga_horaria: this.course.carga_horaria,
					_ativacao: this.course.ativacao,
					_desativacao: this.course.desativacao,
					_nome: this.course.nome,
					_ementa: this.course.ementa,
					_ano_grade: this.course.ano_grade,
					_obrigatoria: this.course.obrigatoria,
					_eletiva: this.course.eletiva,
					_prerequisitos: this.course.prerequisitos_disciplina

			    });
			} else {
			    await this.$axios.$post("/rpc/atualiza_disciplina", {
					_id_disciplina: this.course.id_disciplina,
					_codigo_disciplina: this.course.codigo_disciplina,
					_creditos_aula: this.course.creditos_aula,
					_creditos_trabalho: this.course.creditos_trabalho,
					_carga_horaria: this.course.carga_horaria,
					_ativacao: this.course.ativacao,
					_nome: this.course.nome,
					_ementa: this.course.ementa,
					_ano_grade: this.course.ano_grade,
					_obrigatoria: this.course.obrigatoria,
					_eletiva: this.course.eletiva,
					_prerequisitos: this.course.prerequisitos_disciplina
			    });
			}

			this.$store.commit("setDisciplina_selecionada", { disciplina_selecionada: this.course.codigo_disciplina});
		    console.log("disciplina atualizada com sucesso");

		    this.$router.push('/disciplinas/show');

		}
	}
}
</script>

<style lang="scss">
.cruds__edit {
}
</style>
