<template>
  <div class=".cruds__index">
    <h1> Disciplinas </h1>
    <div class="disciplinas">

      <table id="disc" style="width: max-content">
        <thead>
          <th>
            <td style="width: 10%"> Código Disciplina </td>
            <td style="width: 80%"> Nome Disciplina </td>
            <td style="width: 5%"> Editar </td>
            <td style="width: 5%"> Deletar </td>
          </th>
        </thead>
        <!-- Example of Vue using some data -->
        <tbody v-for="disciplina of disciplinas" :key="disciplina.id_disciplina">
          <disciplina :codigo_disciplina="disciplina.codigo_disciplina" :nome="disciplina.nome" />
        </tbody>
      </table>
    </div>
  </div>

</template>

<script>
import Disciplina from '@/components/Disciplina.vue';

export default {
  components: {
    Disciplina
  },

  data() {
    return {
      disciplinas: [],
      professores: []
    };
  },

  // Initialize elements in 'data' before rendering page.
  // More info at: https://nuxtjs.org/api/
  async asyncData({ app }) {
    return {
      disciplinas: await app.$axios.$get("/disciplinas"),
      // professores: await app.$axios.$get("/professores_completo")
    }
  },

  methods: {

  }


}
</script>

<style lang="scss">
.cruds__index {
}
.disciplinas {
  /*display: flex;*/
  /*align-items: center;*/
  align-items: left;
}
table#disc tr:nth-child(even) {
  background-color: #b5d1ff;
}
table#disc tr:nth-child(odd) {
  background-color: #b5ffff;
}
</style>
