<template>
  <div class=".cruds__new">

  		<!-- <form @submit.prevent="addCourse" >  -->
		<label for="codigo">Código</label>
		<input type="text" id="codigo" name="" placeholder="MAC9666" v-model="course.codigo_disciplina"><br/>

		<label for="nome">Nome</label>
		<input type="text" id="nome" name="" placeholder="Nome do curso" v-model="course.nome"><br/>


		<label for="creditos_aula">Créditos aula</label>
		<input type="text" id="creditos_aula" name="" placeholder="4" v-model="course.creditos_aula"><br/>


		<label for="creditos_trabalho">Créditos trabalho</label>
		<input type="text" id="creditos_trabalho" name="" placeholder="2" v-model="course.creditos_trabalho"><br/>



		<label for="carga_horaria">Carga horária</label>
		<input type="text" id="carga_horaria" name="" placeholder="Carga horária" v-model="course.carga_horaria"><br/>


		<!-- TODO pegar a data atual para preencher a data de ativação -->
		<label for="ativacao">Data de ativação</label>
		<input type="text" id="ativacao" name="" placeholder="hoje?" v-model="course.ativacao"><br/>


		<!-- TODO supoem-se que não vai ter campo de desativação na criação de uma disciplina -->


		<label for="ementa">Ementa</label>
		<!-- <input type="text" id="ementa" name="" placeholder="Descrição da ementa" v-model="course.ementa"><br/> -->
		<textarea id="ementa" v-model="course.ementa" placeholder="Descrição da ementa"></textarea><br/>

		<!-- <input type="checkbox" id="checkbox" name="" v-model="checked"> -->
		<!-- <p>A mensagem é: {{ checked }}</p> -->


		<!-- Para preencher as tabelas grade_obrigatoria e grade_optativa -->
		<!-- TODO pegar a data atual para preencher a data de ativação -->
		<label for="ano_grade">Ano grade</label>
		<input type="text" id="ano_grade" placeholder="hoje?" v-model="course.ano_grade"><br/>


		<label for="obrigatoria">Obrigatória</label>
		<input type="checkbox" id="obrigatoria" v-model="course.obrigatoria"><br/>

		<div v-if="!course.obrigatoria">
			<label for="eletiva">Optativa Eletiva</label>
			<input type="checkbox" id="eletiva" v-model="course.eletiva">
		</div>

		<!-- TODO Fazer a inserção de pré-requisitos melhor -->
		<!-- para inserir vários pré-requisitos separe cada um deles por vírgula -->
		<!-- exemplo: 'MAC0101,MAC0110,MAC0460' -->
		<label for="prerequisitos">Pré-requisitos</label>
		<input type="text" id="prerequisitos" name="" placeholder="prerequisitos" v-model="course.prerequisitos"><br/>


	    <button type="submit" @click="addCourse" @submit.prevent>
	    	Salvar
	    </button>

  		<!-- </form> -->

  </div>
</template>

<script>
// import Course from '@/components/Course.vue';

import axios from 'axios';
// import { mapState } from 'vuex'
import { mapGetters } from 'vuex';

export default {
	computed: {
		now: function () {
	    	return Date.now()
	    },
	    ...mapGetters([
	    	'isAuthenticated',
	    	'getToken',
    	])
	},
	data() {
		return {
			course: {
				codigo_disciplina: '', 
				nome: '',
				creditos_aula: '',
				creditos_trabalho: '',
				ativacao: '',
				ementa: '',
				ano_grade: '',
				obrigatoria: true,
				eletiva: false,
				prerequisitos: '',
			},
		}
	},
	methods: {
		async addCourse() {
			console.log("adicionando disciplina");
			console.log("código: " + this.course.codigo_disciplina);
			console.log("nome: " + this.course.nome);
			console.log("creditos aula: " + this.course.creditos_aula);
			console.log("créditos trabalho: " + this.course.creditos_trabalho);
			console.log("ativação: " + this.course.ativacao);
			console.log("ementa: " + this.course.ementa);
			console.log("ano_grade: " + this.course.ano_grade);
			console.log("obrigatoria: " + this.course.obrigatoria);
			if (this.course.obrigatoria) {
				this.course.eletiva = false;
			}
			console.log("eletiva: " + this.course.eletiva);
			console.log("prerequisitos: " + this.course.prerequisitos);

			//TODO inserir a disciplina junto com suas dependências e sua classificação de obrigatória ou optativa

			// console.log(`Strore state ${this.$store.state.token}`);
			// const token = this.$store.getters.getToken;
			this.$axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.state.token}`;

		  //   await this.$axios.$post("/disciplinas", {
				// codigo_disciplina: this.course.codigo_disciplina,
				// creditos_aula: this.course.creditos_aula,
				// creditos_trabalho: this.course.creditos_trabalho,
				// carga_horaria: this.course.carga_horaria,
				// ativacao: this.course.ativacao,
				// // desativacao: '',
				// nome: this.course.nome,
				// ementa: this.course.ementas,
		  //   });

		    await this.$axios.$post("/rpc/cria_nova_disciplina3", { //cria_nova_disciplina
				_codigo_disciplina: this.course.codigo_disciplina,
				_creditos_aula: this.course.creditos_aula,
				_creditos_trabalho: this.course.creditos_trabalho,
				_carga_horaria: this.course.carga_horaria,
				_ativacao: this.course.ativacao,
				_nome: this.course.nome,
				_ementa: this.course.ementa,
				_ano_grade: this.course.ano_grade,
				_obrigatoria: this.course.obrigatoria,
				_eletiva: this.course.eletiva,
				_prerequisitos: this.course.prerequisitos

		    });
		    console.log("disciplina inserida com sucesso");
		}
	}
}
</script>

<style lang="scss">
.cruds__new {
}
</style>
