<template>
	<!-- <div class="course__wrapper"> -->
		<div class="course"> 
			<!-- <div class="course__wrapper__status"> -->
			<button @click="change_status()" class="course__status" v-bind:style="styleObject">{{status}}</button>
			<!-- </div> -->
			<button @click="increment()" class="course__counter">{{counter}}</button>
			<div>{{codigo_disciplina}}</div>
			<div>{{nome}}</div>
		</div>
	<!-- </div> -->
</template>

<script>
export default {
	props: [
		"id_disciplina",
		"codigo_disciplina", 
		"creditos_aula",
		"creditos_trabalho",
		"carga_horaria",
		"ativacao",
		"desativacao",
		"nome",
		"ementa", 
		"status"
	],
	// não planejada
	// bloqueada
	// cursada
	// planejada

	data() {
		return {
			counter: 0,
			styleObject: {
				backgroundColor: 'var(--light-color)',
				color: 'var(--dark-color)'
				// backgroundColor: '$light-color',
				// color: '$dark-color'
			}
		}
	},

	methods: {
		increment() {
			this.counter++;
		},
		change_status() {
			if (this.status === "não cursada") {
				this.status = "cursando";
				this.styleObject.backgroundColor = 'var(--secondary-color)';
			} else if (this.status === "cursando") {
				this.status = "cursada";
				this.styleObject.backgroundColor = 'var(--primary-color)';
			} else {
				this.status = "não cursada";
				this.styleObject.backgroundColor = "var(--light-color)";
			}
		}
	}

}
</script>

<style lang="scss">

/*@import './assets/custom.scss';*/
/*@import '../assets/custom.scss';*/
/*
:root {
	@import '../assets/custom.scss';
}
*/
/*
Não consegui usar as variáveis no arquivo custom.scss portanto improvisei
dessa forma
*/
:root {
	--primary-color: #3F51B5;
	--secondary-color: #FF9800;
	--dark-color: #1C1C1C;
	--light-color: #F5F5F5;
}

.course {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.course__status {
	background-color: $light-color;
	color: $dark-color;
	/*background-color: var(--light-color);*/
	/*color: var(--dark-color);*/
	width: 5rem;
	height: 5rem;
	border-radius: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.course__counter {
	background-color: white;
	/*color: $dark-color;*/
	color: var(--dark-color);
	width: 2rem;
	height: 2rem;
	border-radius: 100%;

	border-width: 0.1rem;
	border-color: black;

	display: flex;
	flex-direction: row;
	justify-content: center;
	/*justify-content: right;*/
	align-items: center;
	/*align-items: right;*/
}

.course__wrapper {
	background-color: $primary-color;
	color: $light-color;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	z-index: 1;
}

.course__wrapper__status {
	background-color: $primary-color;
	color: $light-color;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	z-index: 1;
}

</style>