<template>
	<!-- <div class="course__wrapper"> -->
		<div class="disciplina">
			<!-- <div class="course__wrapper__status"> -->

			<!-- <label class="course__status">{{status}}</label> -->
			<!-- </div> -->
			<!-- <div>{{codigo_disciplina}}</div> -->
			<!-- <div>{{nome}}</div> -->
			<tr>
				<!-- <td style="width: 10%"><a href="/disciplinas/show">{{codigo_disciplina}}</a></td> -->
				<!-- <td style="width: 10%" @click="mostrar()">{{codigo_disciplina}}</td> -->
				<td style="width: 10%" @click="mostrar()"><a>{{codigo_disciplina}}</a></td>
				<td style="width: 80%">{{nome}}</td>
				<td style="width: 5%"><button @click="editar()">Editar</button></td>
				<td style="width: 5%"><button @click="excluir()">Excluir</button></td>
			</tr>
		</div>
	<!-- </div> -->
</template>

<script>
import axios from 'axios';
// import { mapState } from 'vuex'
import { mapGetters } from 'vuex';
import { mapSetters } from 'vuex';

export default {
	props: [
		"id_disciplina",
		"codigo_disciplina",
		"creditos_aula",
		"creditos_trabalho",
		"carga_horaria",
		"nome",
	],
	computed: {
	  	// mix the getters into computed with object spread operator
	  	...mapGetters([
	    	'isAuthenticated',
	    	'getToken',
	    	// ...
		])
	},
	data() {
		return {
			counter: 0,
			// disciplina_selecionada: {
			// 	id_disciplina: '',
			// 	codigo_disciplina: '', 
			// 	creditos_aula: '',
			// 	creditos_trabalho: '',
			// 	carga_horaria: '',
			// 	nome: '',
			// },
			// codigo_disciplina: '',
			// nome: '',
			styleObject: {
				backgroundColor: 'var(--light-color)',
				color: 'var(--dark-color)'
				// backgroundColor: '$light-color',
				// color: '$dark-color'
			}
		}
	},

	methods: {
		mostrar() {
			// console.log("oba");
			this.$store.commit("setDisciplina_selecionada", { disciplina_selecionada: this.codigo_disciplina});
			this.$router.push('/disciplinas/show');

		},
		editar() {
			this.$store.commit("setDisciplina_selecionada", { disciplina_selecionada: this.codigo_disciplina});
			// this.$store.commit("setDisciplina_selecionada", { disciplina_selecionada: this.disciplina_selecionada});
			// console.log(`Strore state ${this.$store.state.disciplina_selecionada.codigo_disciplina}`);
			// alert(`editar ${this.$store.state.disciplina_selecionada}`);
			this.$router.push('/disciplinas/edit');

		},
		excluir() {
			this.$store.commit("setDisciplina_selecionada", { disciplina_selecionada: ''});
			// this.$store.commit("setDisciplina_selecionada", { disciplina_selecionada: this.disciplina_selecionada});

			// alert("excluir");
			//TODO excluir a disciplina
			console.log("exluindo " + this.codigo_disciplina);
			this.$axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.state.token}`;
			this.$axios.$post("/rpc/exclui_disciplina", {
				_codigo_disciplina: this.codigo_disciplina
			});
			this.$router.push('/disciplinas');
		}
	}

}
</script>

<style lang="scss">

/*@import './assets/custom.scss';*/
/*@import '../assets/custom.scss';*/
/*
:root {
	@import '../assets/custom.scss';
}
*/
/*
Não consegui usar as variáveis no arquivo custom.scss portanto improvisei
dessa forma
*/
:root {
	--primary-color: #3F51B5;
	--secondary-color: #FF9800;
	--dark-color: #1C1C1C;
	--light-color: #F5F5F5;
}

.course {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.course__status {
	background-color: $light-color;
	color: $dark-color;
	/*background-color: var(--light-color);*/
	/*color: var(--dark-color);*/
	width: 5rem;
	height: 5rem;
	border-radius: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.course__counter {
	background-color: white;
	/*color: $dark-color;*/
	color: var(--dark-color);
	width: 2rem;
	height: 2rem;
	border-radius: 100%;

	border-width: 0.1rem;
	border-color: black;

	display: flex;
	flex-direction: row;
	justify-content: center;
	/*justify-content: right;*/
	align-items: center;
	/*align-items: right;*/
}

.course__wrapper {
	background-color: $primary-color;
	color: $light-color;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	z-index: 1;
}

.course__wrapper__status {
	background-color: $primary-color;
	color: $light-color;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	z-index: 1;
}

</style>
