<template>
  <div class=".aside__login">

    <div v-if="!this.$store.getters.isAuthenticated">
      <p>Login</p>
      <label for="email">E-mail</label><br/>
      <input id='email' type="email" v-model="email"/><br/>
      <!-- <input id='email' type="email" v-model="email" @input="email"/><br/> -->


      <label for="password">Senha</label><br/>
      <input id='password' type="password" v-model="password"/><br/>
      <!-- <input id='password' type="password" v-model="password" @input="password"/><br/> -->

      <!-- <input :value="message" @input="updateMessage"> -->


      <!-- <button type="submit" @click="login(email, password)" @submit.prevent> -->
      <!-- <button type="submit" @click="login" @submit.prevent> -->
      <!-- <button type="submit" @click="loginn" @submit.prevent> -->
      <button type="submit" @click="login" @submit.prevent>
        Login
      </button>
    </div>
    <div v-else>
      <form>
        <p>Usuário logado</p>
        <label for="email">E-mail</label><br/>
        <input id='email' type="email" v-model="this.$store.getters.getEmail" disabled /><br/>

        <button type="submit" @click="logout">
          Logout
        </button>
      </form>
    </div>

  </div>
</template>

<script>
import axios from 'axios';
// import { mapState } from 'vuex'
import { mapGetters } from 'vuex';
// import { mapSetters } from 'vuex';
import { mapActions } from 'vuex';

export default {
  // computed: {
  //   email: {
  //     setEmail (value) {
  //       this.$store.commit('setEmail', value);
  //     }
  //   },
  //   password: {
  //     setPassword (value) {
  //       this.$store.commit('setPassword', value);
  //     }
  //   },
  //   ...mapState({
  //     message: state => state.obj.message
  //   })
  // },
  computed: {
    // mix the getters into computed with object spread operator
    ...mapGetters([
      'isAuthenticated',
      'getToken',
      // ...
    ])
  },
  // computed: {
  //   ...mapState({
  //     message: state => state.obj.message
  //   })
  // },
  // methods: {

  // },
  data() {
    return {
      email: '',
      password: '',
      logged: false
    }
  },

  methods: {
    // ...mapActions([
    //   'logout', // map `this.login()` to `this.$store.dispatch('login')`

      // `mapActions` also supports payloads:
      // 'login' // map `this.login(amount)` to `this.$store.dispatch('login', amount)`
    // ]),
    // updateMessage (e) {
    //   this.$store.commit('updateMessage', e.target.value)
    // },


    // async loginn(email, password) {
    //   console.log(`na função loginn`);
    //   console.log(`User: ${this.email} ${this.password}`);
    //   console.log("loginn this.email: " + this.email);
    //   console.log("loginn this.password: " + this.password);
    //   console.log("loginn email: " + email);
    //   console.log("loginn password: " + password);
    //   // const token = await this.$store.dispatch('login', {
    //   //   email: this.email,
    //   //   password: this.password
    //   //   // email: email,
    //   //   // password: password
    //   // });
    //   // console.log(`token ${this.token}`);

    //   const token = await this.$axios.$post("/rpc/autenticar", {
    //   // const token = await this.$axios.$post(`http://localhost:3000/rpc/autenticar`, {
    //   // const token = await this.$axios.post(`POST /localhost:3000/rpc/autenticar`, {
    //   // const token = await app.$axios.post(`/rpc/autenticar`, {
    //   // const token = await app.$axios.$post(`/rpc/autenticar`, {
    //     // email: email,
    //     // senha: password
    //     // email: "jef@ime.usp.br",
    //     // senha: "12345"
    //     email: this.email,
    //     password: this.password <---- troque password: por senha:
    //   });
    //   console.log(`token ${token}`);
    // }
    async login() {
      // TODO: Implement login logic here
      // TIP: Method is `async` because it should use "await this.$axios"
      console.log(`User: ${this.email} ${this.password}`);

      this.$store.commit("setToken", { token: '' }); //TODO remover

      const token = await this.$axios.$post("/rpc/autenticar", {
        // email: "jef@ime.usp.br",
        // senha: "12345"
        email: this.email,
        senha: this.password
      });
      console.log(`token ${token}`);

      // Save token at global vuex store to be used by auth middleware
      // this.$store.commit("setToken", { token: "" });
      this.$store.commit("setToken", { token: token });
      this.$store.commit("setEmail", { email: this.email });

      // console.log(this.getToken); //funciona desde que se faça o ...mapGetters

      this.$axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;

      console.log("email " + this.$store.getters.getEmail);
      // console.log("header Authorization");
      // console.log(this.$axios.defaults.headers.common['Authorization']);
    },
    async logout({commit}) {
      //Definindo como vazio o token JWT no cabeçalho padrão das requisiões
      this.$axios.defaults.headers.common['Authorization'] = ``;
      this.$store.commit("setEmail", { email: ""});
      this.$store.commit("setToken", { token: ""});
      // commit(setEmail, {email: ""});
      // commit(setToken, {token: ""});
      // this.$store.commit("setToken", { token: '' }); //TODO remover
    },

    // setAuthorizationToken(token) {
    //   if(token) {
    //       axios.defaults.headers.common['authorization'] = `Bearer ${token}`;
    //   } else {
    //     delete axios.defaults.headers.common['authorization'];
    //   }
    // }

  }
}
</script>

<style lang="scss">
.aside__login {
}
</style>
